
# VidTao API Credentials
# Account 1
VIDTAO_EMAIL_1=your_vidtao_email_1@example.com
VIDTAO_PASSWORD_1=your_vidtao_password_1
# Account 2
VIDTAO_EMAIL_2=your_vidtao_email_2@example.com
VIDTAO_PASSWORD_2=your_vidtao_password_2
# Account 3
VIDTAO_EMAIL_3=your_vidtao_email_3@example.com
VIDTAO_PASSWORD_3=your_vidtao_password_3

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_URL=your_supabase_url
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key
SUPABASE_JWT_SECRET=your_supabase_jwt_secret

# Postgres
POSTGRES_URL=your_postgres_url
POSTGRES_USER=your_postgres_user
POSTGRES_HOST=your_postgres_host
POSTGRES_PRISMA_URL=your_postgres_prisma_url
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DATABASE=your_postgres_database
POSTGRES_URL_NON_POOLING=your_postgres_url_non_pooling

# Email
EMAIL_USER=your_email_user
EMAIL_PASS=your_email_password
RESET_URL=http://localhost:3000/reset-password
VERIFY_URL=http://localhost:3000/verify-account

# YouTube API
NEXT_PUBLIC_YT_API_KEY=your_youtube_api_key

# VAPID Keys (Push Notification)
VAPID_PUBLIC_KEY=your_vapid_public_key
VAPID_PRIVATE_KEY=your_vapid_private_key